* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8em;
}

a {
    text-decoration: solid;
    color: #ffffff;
    margin: 0 20px;
    
}

.navbar {
    display: block;

}

.navbarResponsive {
    display: flex;
    justify-content: space-between;
    background-color: #051521;
    align-items: center;
}


button {
    background-color: #ffffff;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    border: none;
}

button:hover {
    height: 2.5em;
}

a:hover {
    color: #0076a5;
}

.container-fluid {
    display: flex;
    align-items: center;
    background-color: #051521;
    margin: -10px 0 0 0;
}

.d-inline-block {
    height: 90px;
    width: auto;
}


.container1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px; 
}

.textoContainer1 {
    width: 80%;
    font-size: 1.2em;
    text-align: left;
}

.textoContainer1 h3 {
    font-size: 1.4em;
    text-align: center;
}

.textoAbajo {
    text-align: center;
    text-decoration: solid;
    font-size: 1.5em;
}

.container1 img {
    margin-top: 100px;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #051521;
    transform: rotate(1deg);
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin: 150px 100px;
}

.textoContainer2 {
    font-size: 1.2em;
    width: 50%;
    text-align: left;
}

.textoContainer2 h3 {
    text-align: center;
}

.container2 img {
    height: 50%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #051521;
    transform: rotate(-1deg);
}

.contacto {
    text-align: center;
}

.contactoLinks {
    display: flex;
    justify-content: center;
    background-color: #051521;
}

.contactoLinks a svg {
    margin: 20px;
}

.contactoLinks a svg:hover {
    height: 65px;
    width: 65px;
}

.bi {
    color: white;
}

.cardContainer {
    display: flex;
    justify-content: center;
}



.card {
    margin-left: 20px;
    margin: 30px 25px;
}

.card h6 {
    font-weight: 600;
}

.card li {
    margin-left: 20px;
}

@media (min-width:600px) {

    .navbarResponsive {
        display: none;
    }

    .imagenResponsive1 {
        display: none;
    }

}

@media (max-width:600px) {

    div.container-fluid button {
        display: none;
    }

    div.container-fluid a {
        display: none;
    }

    a {
        margin: 0 10px;
    }

    .imagen1 {
        display: none;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .textoContainer1 {
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        margin: 20px 0;
        }

    .container1 img {
        width: 75%;
        transform: none;
        margin: 0px;
        }

    .container2 {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .textoContainer2 {
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        margin: 0px;
    }

    .container2 img {
        width: 65%;
        height: 25%;
        transform: none;
    }



    .cardContainer{
        display: block;
    }
    .card {
        margin: 20px auto;
    }

}